body {
    width: 100%;
    position: absolute;
    background-image: url("imagini/pizza.jpg");
}

h2{
    font-size: 40px;
    font-family: jokerman;
    color: red;
    background-color: white;
}

#setari{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 600px;
    margin:auto;
    background-color: white;
    margin-left: 40%;
}

#container{
    width:600px; 
    margin:auto;
    margin-left: 40%;
}

#myCanvas, #myCanvas2{
    background:#fff;
    border:2px solid black;
    margin-top: 20px;
}

#container2{
    width: 200px;
    height: 150px;
    margin-left: 33%;
    position: relative;
}

#pui {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

img, ul{
    margin-left: 40%;
}

li{
     color: #07dfea;
     font-size: 20px;
     font-weight: bold;
}

#pizza{
    margin-left: 40%;
}






